.add_item {
  display: flex;
}

.form-control {
  font-size: 14px;
  border-radius: 2em;
  background: none;
  border: #e3e3e3 1px solid;
  transition: border 250ms ease-out;
}
.form-control:focus {
  border: #4fc08d 1px solid;
  outline: none;
  box-shadow: none;
}
.btn {
  font-size: 14px;
  margin: 0 0.5em;
  border-radius: 2em;
}
